body {
  color: green;
  font-weight: bolder;
  margin-top: 20%;
  background-color: #800000;
  background-position: center center;
  text-align: center;
}

div {
  line-height: 2;
  padding: 2%;
  display: inline-block;
  background-color: black;
}

h1, p {
display: inline;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

img {
  width: 200px;
  height: 200px;
}
